# Diretórios de compilação
target/
bin/
out/

# Arquivos de configuração do IDE
.idea/
*.iml
*.class

# Arquivos de dependências do Maven
*.jar
*.war
*.ear

# Arquivos de logs
*.log

# Arquivos de ambiente
.env

# Outros arquivos temporários
*.tmp
*.temp
*.bak
*.swp
*.DS_Store

# Arquivos de configuração do sistema
Thumbs.db
